@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

.portable {
  border-bottom: 1px solid #DDD;
  height: 80px;
  
  background-color: #FFF;
  color: #000;
  
  transition: 0.5s;
}

.portable:hover {
  background-color: #EEE;
}

/*.portable:nth-child(odd) {
  background-color: #C4D8E2;
  color: #6082B6;
  color: #000;
}*/

.portable:nth-child(2) {
  margin-top: 40px;
}

.portable p {
  display: inline-block;
  margin: 0;
  position: relative;
  top: -20%;
}

.error {
  background-color: #FFF;
  color: #000;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  margin-top: 40px;
}

.error p {
  margin: 0;
}

img {
  height: 32px;
  width: 32px;
  margin: 4px;
}

.type {
    width: calc(50% - 40px);
}

.owner {
    width: 50%;
}

.world {
    width: 32px;
    padding-left: 8px;
    text-align: center;
}

.location {
    width: calc(80% - 100px);
}

.downs {
    width: 20px;
    color: green;
}

.red {
    color: red;
}

.header {
    display: none;
    background-color: #FFF !important;
    position: fixed;
    z-index: 2;
    width: 100%;
    margin: 0;
    top: 0;
    font-weight: bold;
    border-bottom: 1px solid #CCC;
}

.recent {
  background-color: #DDD;
}

.age {
  width: 20%;
}

.refresh {
  width: 64px;
  height: 64px;
  display: block;
  margin: 5px auto;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.3;
  transition: 0.3s;
}

.refresh:hover {
  transform: rotate(360deg);
  opacity: 0.8;
  transition: 1s;
}

@media only screen and (min-width: 45em) {

  .portable {
      height: 40px;
  }
  
  .portable p {
      top: -40%;
  }

  .type {
    width: calc(25% - 100px);
  }
  
  .owner {
    width: 20%;
  }
  
  .location {
    width: 30%;
  }
  
  .world {
    width: 15%;
    padding: 0;
  }
  
  .downs {
    width: 20px;
  }
  
  .thumb {
    opacity: 0.5;
    transition: 0.5s;
  }
  
  .thumb:hover {
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .header {
      display: block;
  }

  .age {
    width: 10%;
  }
}