@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

.portable {
  border-bottom: 1px solid #DDD;
  
  background-color: #FFF;
  color: #000;
  
  transition: 0.5s;
  z-index: -1;
}

.portable:hover {
  background-color: #EEE;
}

/*.portable:nth-child(odd) {
  background-color: #C4D8E2;
  color: #6082B6;
  color: #000;
}*/

.portable p {
  display: inline-block;
  margin: 0;
  position: relative;
  top: -20%;
}

.error {
  background-color: #FFF;
  color: #000;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  margin-top: 40px;
}

.error p {
  margin: 0;
}

img {
  height: 32px;
  width: 32px;
  margin: 4px;
}



.portable {
    height: 40px;
}

.portable p {
    top: -40%;
}

.type {
  width: calc(30% - 40px);
}

.owner {
  width: 20%;
  display: none !important;
}

.location {
  width: calc(55% - 60px);
}

.world {
  width: 15%;
  padding: 0;
}

.world:before {
  content: "w";
}

.downs {
  width: 20px;
}

.red {
  color: red;
}

.header {
  display: none;
  background-color: #FFF !important;
  position: fixed;
  z-index: 2;
  width: 100%;
  margin: 0;
  top: 0;
  font-weight: bold;
  border-bottom: 1px solid #CCC;
}

.recent {
  background-color: #DDD;
}

.age {
  display: none !important;
  width: calc(25% - 40px);
}

.refresh {
  width: 64px;
  height: 64px;
  display: block;
  margin: 5px auto;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.3;
  transition: 0.3s;
}

.refresh:hover {
  transform: rotate(360deg);
  opacity: 0.8;
  transition: 1s;
}

/** Wide mobile **/

@media only screen and (min-width: 25em) {
  .header {
    display: block;
  }
  
  .type {
    width: calc(25% - 40px);
  }
  
  .world {
    width: 12%;
  }
  
  .location {
    width: calc(38% - 20px);
  }
  
  .world:before {
    content: "";
  }

  .portable:nth-child(2) {
    margin-top: 40px;
  }
  
  .age {
    display: inline-block !important;
  }
}

@media only screen and (min-width: 48em) {

  .portable {
      height: 40px;
  }
  
  .portable p {
      top: -40%;
  }

  .type {
    width: calc(25% - 60px);
  }
  
  .owner {
    width: 20%;
    display: inline-block !important;
  }
  
  .location {
    width: 30%;
  }
  
  .world {
    width: calc(15% - 40px);
    padding: 0;
  }
  
  .downs {
    width: 20px;
  }
  
  .thumb {
    opacity: 0.5;
    transition: 0.5s;
  }
  
  .thumb:hover {
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .header {
      display: block;
  }

  .age {
    width: 10%;
  }
  
  .world:before {
    content: "";
  }
}