@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

* {
  font-family: 'Roboto', sans-serif;
}

html {
  position: relative;
  /* because fuck css */
  width: calc(100% - 1px);
  height: 95%;
  
  margin: 0;
  padding: 0;
  background: #FFF;
  
  top: 0;
  left: 0;
  
  box-sizing: border-box;
}

body {
  height: calc(100% - 96px);
  margin: 0;
}

/** Header + nav **/

header {
  z-index: 1;
  top: 0;
  width: 100%;
  height: 144px;
  
  background-color: #EEE;
  
  position: relative;
  
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #DDD;
}

header a {
  text-decoration: none;
}

header ul {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
}

header li {
  list-style-type: none;
  display: block;
  height: 48px;
  width: 100%;
  /*background-color: #FFF;*/
}

.navb:link, .navb:visited {
  color: #000;
  display: block;
  
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
}

.navb:hover, .navb:active {
  color: #555;
  transition: 0.3s;
}

/** Content **/

.content {
  margin: 10px auto;
  max-width: 1200px;
  height: calc(100% - 96px);
  width: 95%;
  border: 1px solid #EEE;
  border-radius: 5px;
}

/* Portable selector */

#sel {
  margin: 0;
  padding: 0;
  width: 100%;
  transition: 0.5s;
  background-color: #EEE;
  height: 48px;
  border-bottom: 1px solid #DDD;
  border-radius: 4px;
}

#sel li {
  list-style-type: none;
  display: block;
  height: 48px;
  
  border-bottom: 1px solid #CCC;
  transition: 0.5s;
  /*background-color: #FFF;*/
}

#sel[data-showopts="false"] li {
  height: 0;
  transition: 0.5s;
  color: #FFF;
  
  border-bottom: none;
}

#sel[data-showopts="false"] .selb {
  color: rgba(0, 0, 0, 0);
  transition: 0.5s;
}
  
#sel li:first-child .selb {
  color: #000;
  display: flex;
  border-radius: 5px 5px 0 0;
}
  
#sel li:first-child {
  height: 100%;
}

#sel li:first-child .selb:before {
  content: "Select portable";
}

#sel[data-showopts="true"] .selb {
  display: flex;
  height: 48px;
}

#sel[data-showopts="true"] {
  margin-bottom: 432px;
}

#sel .active {
  background-color: #FFF;
  border-bottom: 1px solid #FFF;
  border-right: 1px solid #DDD;
  border-left: 1px solid #DDD;
  display: flex;
}

.selb:link, .selb:visited {
  color: #000;
  display: block;
  
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  
  text-decoration: none;
  background-color: #DDD;
  text-align: center;
  transition: 0.3s;
}

.selb:hover, .selb:active {
  color: #555;
  background-color: #EEE;
  transition: 0.3s;
}

h4 {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding-left: 10px;
  margin: 0;
}

form {
  background-color: #EEE;
  border-top: 1px solid #DDD;
  text-align: center;
}

select {
  width: 90%;
  height: 40px;
  border: 1px solid #DDD;
}

input {
  padding: 0;
  margin: 0;
  width: 90%;
  height: 40px;
  border: 1px solid #DDD;
}

button {
  margin-top: 5px;
  width: 100%;
  background-color: #FFF;
  border: 1px solid #DDD;
  height: 40px;
}

button:hover {
  cursor: pointer;
  background-color: #DDD;
  border: 1px solid #CCC;
}

iframe {
  width: 100%;
  height: calc(100% - 144px);
  border: none;
  min-height: 200px;
}

/** Non-mobile **/

@media only screen and (min-width: 48em) {
  
  header {
  position: fixed;
  }
  
  /** Content **/
  
  .content {
    margin-top: 96px;
    border: 1px solid #DDD;
    border-radius: 4px;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #sel {
    margin-top: 0;
    display: block;
    min-height: 48px;
    width: auto;
    padding-left: 5px;
  }
  
  #sel[data-showopts="true"] {
    margin: 0;
  }

  #sel[data-showopts="false"] li {
    display: inline-block;
    height: 100%;
  }

  #sel[data-showopts="false"] .selb {
    color: #000;
  }
  
  #sel li:first-child {
    display: none;
  }
  
  #sel li {
    vertical-align: middle;
    display: inline-block;
    width: 10%;
    max-width: 200px;
    min-width: 80px;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .selb:link, .selb:visited {
    background-color: #EEE;
  }
  
  .selb:hover {
    background-color: #DDD;
  }
  
  h4 {
    width: auto;
    padding: 0 20px;
  }
  
  form {
    height: 48px;
  }
  
  select {
    height: default;
    width: auto;
  }
  
  input {
    height: default;
    width: auto;
  }
  
  button {
    width: auto;
  }

  iframe {
  height: calc(100% - 102px);
  }
}

/** Non-tiny header **/

@media only screen and (min-width: 30em) {
  
  /** Header **/
  
  header {
  height: 48px;
  }
  
  header ul {
  margin-top: 0;
  display: block;
  min-height: 48px;
  width: auto;
  }
  
  header li {
  vertical-align: middle;
  display: inline-block;
  width: 30%;
  max-width: 200px;
  padding: 0;
  margin: 0;
  text-align: center;
  }
  
}